.btn-primary {
    background-color: var(--primary9) !important;
    color: var(--aliceblue) !important;
    border: none !important;

}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: var(--primary) !important;
    color: var(--aliceblue) !important;
    outline: none !important;
}

.btn-outline-primary {
    background-color: var(--aliceblue) !important;
    color: var(--primary) !important;
    border: 1px solid var(--primary) !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
    background-color: var(--primary) !important;
    color: var(--aliceblue) !important;
    border: 1px solid var(--primary) !important;
}




.btn-secondary{
    background-color:var(--secondary) !important;
    color:var(--aliceblue) !important;
    border: none !important;
}
.btn-secondary:hover,.btn-secondary:focus,.btn-secondary:active {
    background-color: var(--secondary) !important;
    color:var(--aliceblue) !important;
    outline: none !important;
}

.btn-outline-secondary{
    background-color:var(--aliceblue) !important;
    color:var(--secondary) !important;
    border:1px solid var(--secondary) !important;
}
.btn-outline-secondary:hover,.btn-outline-secondary:focus,.btn-outline-secondary:active {
    background-color:var(--secondary) !important;
    color:var(--aliceblue) !important;
    border:1px solid var(--secondary) !important;
}

.btn-info{
    background-color:var(--info9) !important;
    color:var(--aliceblue) !important;
    border: none !important;
}
.btn-info:hover,.btn-info:focus,.btn-info:active {
    background-color: var(--info) !important;
    color:var(--aliceblue) !important;
    outline: none !important;
}

.btn-outline-info{
    background-color:var(--aliceblue) !important;
    color:var(--info) !important;
    border:1px solid var(--info) !important;
}
.btn-outline-info:hover,.btn-outline-info:focus,.btn-outline-info:active {
    background-color:var(--info) !important;
    color:var(--aliceblue) !important;
    border:1px solid var(--info) !important;
}

.btn-success{
    background-color:var(--success) !important;
    color:var(--aliceblue) !important;
    border: none !important;
}
.btn-success:hover,.btn-success:focus,.btn-success:active {
    background-color: var(--success) !important;
    color:var(--aliceblue) !important;
    outline: none !important;
}

.btn-outline-success{
    background-color:var(--aliceblue) !important;
    color:var(--success) !important;
    border:1px solid var(--success) !important;
}
.btn-outline-success:hover,.btn-outline-success:focus,.btn-outline-success:active {
    background-color:var(--success) !important;
    color:var(--aliceblue) !important;
    border:1px solid var(--success) !important;
}

.btn-danger{
    background-color:var(--danger9) !important;
    color:var(--aliceblue) !important;
    border: none !important;
}
.btn-danger:hover,.btn-danger:focus,.btn-danger:active {
    background-color: var(--danger) !important;
    color:var(--aliceblue) !important;
    outline: none !important;
}
.btn-outline-danger{
    background-color:var(--aliceblue) !important;
    color:var(--danger) !important;
    border:1px solid var(--danger) !important;
}
.btn-outline-danger:hover,.btn-outline-danger:focus,.btn-outline-danger:active {
    background-color:var(--danger) !important;
    color:var(--aliceblue) !important;
    border:1px solid var(--danger) !important;
}

.btn-warning{
    background-color:var(--warning) !important;
    color:var(--aliceblue) !important;
    border: none !important;
}
.btn-warning:hover,.btn-warning:focus,.btn-warning:active {
    background-color: var(--warning) !important;
    color:var(--aliceblue) !important;
    outline: none !important;
}
.btn-outline-warning{
    background-color:var(--aliceblue) !important;
    color:var(--warning) !important;
    border:1px solid var(--warning) !important;
}
.btn-outline-warning:hover,.btn-outline-warning:focus,.btn-outline-warning:active {
    background-color:var(--warning) !important;
    color:var(--aliceblue) !important;
    border:1px solid var(--warning) !important;
}

.btn-disabled{
    cursor: not-allowed !important;
    background-color:var(--disabled9) !important;
    color:#FFF !important;
    border: none !important;
}
.btn-disabled:hover,.btn-disabled:focus,.btn-disabled:active {
    background-color: var(--disabled) !important;
    color:#fff !important;
    outline: none !important;
}
.btn-outline-disabled{
    cursor: not-allowed !important;
    background-color:var(--aliceblue) !important;
    color:var(--disabled) !important;
    border:1px solid var(--disabled) !important;
}
.btn-outline-disabled:hover,.btn-outline-disabled:focus,.btn-outline-disabled:active {
    background-color:var(--disabled) !important;
    color:var(--aliceblue) !important;
    border:1px solid var(--disabled) !important;
}

.btn-navbar{
    cursor: not-allowed !important;
    background-color:var(--navbar9) !important;
    color:#FFF !important;
    border: none !important;
}
.btn-navbar:hover,.btn-navbar:focus,.btn-navbar:active {
    background-color: var(--navbar) !important;
    color:#fff !important;
    outline: none !important;
}
.btn-outline-navbar{
    background-color:var(--aliceblue) !important;
    color:var(--navbar) !important;
    border:1px solid var(--navbar) !important;
}
.btn-outline-navbar:hover,.btn-outline-navbar:focus,.btn-outline-navbar:active {
    background-color:var(--navbar) !important;
    color:var(--aliceblue) !important;
    border:1px solid var(--navbar) !important;
}

/* Botones para exportar datables */

 .dt-button.buttons-copy {
    background-color: #4CAF50; /* Cambia a tu color deseado */
    color: white;
  }

  .dt-button.buttons-excel {
    background-color: #2196F3; /* Cambia a tu color deseado */
    color: white;
  }

  .dt-button:hover {
    background-color: #45a049; /* Color de fondo al pasar el cursor */
  }

  /* buttons */

  .btn-ghost {
    -webkit-box-shadow: 0 0 0 3px rgba(219,224,228,.5);
    -moz-box-shadow: 0 0 0 3px rgba(219,224,228,.5);
    box-shadow: 0 0 0 3px rgba(219,224,228,.5)
  }

  .btn-xlg {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
   
  }

  .btn-xlg i {
    font-size: 18px;
  }


