* {
  margin: 0;
  padding: 0;
  /* font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif; */
}
body {
  display: flex;
  flex-direction: column;
  background-color: var(--disabled2);
  font-size: 1rem;
  /* font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif; */
}

#root{
 min-height: calc(100vh - calc(4rem + 1px) - calc(4rem + 1px));
}


.pointer {
  cursor: pointer;
}
.disabled {
  cursor: no-drop;
}
.resize {
  resize: none;
}
.hide {
  display: none;
}
a {
  text-decoration: none;
}
.select2-container {
  z-index: 10000;
}
span.select2-container {
  z-index: 10100;
}



.line {
  border: 1.5px solid #e3ebf6;
  border-radius: 0.25rem;
  padding: 1rem 1rem;
}

.block {
  border: 1px solid #dbe0e4;
  margin-bottom: 15px;
  border-radius: 0.25rem;
  float: left;
  padding: 1rem 1rem;
}

.app .block.block-condensed {
  padding: 0;
}

.line-1 {
  border: 1.5px dashed #6c5ffc;
  border-radius: 0.25rem;
  /* padding: 1rem 1rem; */
}

/* Path: bordered.css */
.container-border-right {
  padding: 20px;
  border: 1px solid #e9ecef;
  border-right-width: 0.25rem;
  border-radius: 0.5rem;
}
.container-border-left {
  padding: 20px;
  border: 1px solid #e9ecef;
  border-left-width: 0.25rem;
  border-radius: 0.5rem;
}
.container-border-bottom {
  padding: 20px;
  border: 1px solid #e9ecef;
  border-bottom-width: 0.25rem;
  border-radius: 0.5rem;
}
.container-border-top {
  padding: 20px;
  border: 1px solid #e9ecef;
  border-top-width: 0.25rem;
  border-radius: 0.5rem;
}
.container-border {
  padding: 20px;
  border: 1px solid #e9ecef;
  border-width: 0.25rem;
  border-radius: 0.5rem;
}

.container-border-secondary {
  border-right-color: var(--secondary) !important;
}
.container-border-primary {
  border-right-color: var(--primary) !important;
}
.container-border-info {
  border-right-color: var(--info) !important;
}
.container-border-success {
  border-color: var(--success) !important;
}
.container-border-danger {
  border-color: var(--danger) !important;
}
.container-border-warning {
  border-color: var(--warning) !important;
}

/* badges */

.list-group {
  width: 100%;
  float: left;
  margin-bottom: 20px;
  padding-left: 0;
  color: #fb923c;
  padding: 5px;
  line-height: 20px;
}

.list-item {
  font-weight: bold;
  z-index: 0;
  color: #454545;
  line-height: 20px;
  background-color: transparent;

  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
}

.list-item span .icon {
  font-size: 12px;
  margin-right: 5px;
}

.badge.badge-bordered.badge-primary {
  border: 1px solid #292f43;
  color: #292f43;
}

.list-group span.badge {
  float: right;
}

/* labels */
.label{
  letter-spacing: .5px;
  border-radius : 3px;
  line-height   : 14px;
  padding       : 2px 5px;
  font-weight   : 700;
  font-size: 12px;
  text-transform: uppercase;
}




.label.label-primary {
  background: #292f43!important;
  color: #FFF!important
}

.label.label-success {
  background: #76AB3C!important;
  color: #FFF!important
}


.label.label-info {
  background: #4FB5DD!important;
  color: #FFF!important
}

.label.label-warning {
  background: #F69F00!important;
  color: #FFF!important
}

.label.label-danger {
  background: #F04E51!important;
  color: #FFF!important
}


/* CSS */
/* Category / GRUPOS */
/* Category / GRUPOS */
#groups {
    max-height: 20rem;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 0.1rem;
    justify-content: space-evenly;
}

.category-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 12rem;
    height: auto;
    min-height: 8rem;
    cursor: pointer;
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-shadow: 0 0 5px #919292;
    transition: transform .4s ease-in-out;
}

.category-card:hover {
    transform: translateY(-9px);
    background-color: #E1F5FE;
}

.category-card-active {
    background-color: #E1F5FE;
}

.category-card label {
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

.category-card span {
    margin-top: auto;
}


/* Group / SUBGRUPOS */
#subgroups {
    max-height: 20rem;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 0.1rem;
    justify-content: space-evenly;
}

.group-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 8rem;
    height: auto;
    min-height: 8rem;
    cursor: pointer;
    background-color: #EEEFEF;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word; 
    transition: transform .4s ease-in-out;
}

.group-card:hover {
    transform: translateY(-9px);
    background-color: #00355F;
    color: white;
}

.group-card-active {
    background-color: #00355F;
    color: white;
}

.group-card label {
    font-weight: bold;
    cursor: pointer;
}

.group-card p {
    margin-top: auto;
    cursor: pointer;
}


/* Question / PREGUNTAS */
#questions {
    max-height: 20rem;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 0.1rem;
    justify-content: space-evenly;
}

.question-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 8rem;
    height: auto;
    min-height: 8rem;
    cursor: pointer;
    background-color: #EEEFEF;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word; 
    transition: transform .4s ease-in-out;
}

.question-card:hover {
    transform: translateY(-9px);
    background-color: #00355F;
    color: white;
}

.question-card-active {
    background-color: #00355F;
    color: white;
}

.question-card p {
    cursor: pointer;
}

/* extras */
.span-badge {
    background-color: #E1F5FE;
    padding: 0.4rem 0.5rem;
    border-radius: 1rem;
    width: auto;
    min-width: 5.4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.answered {
    background-color: #aad377;
    color: white;
}