.table {
  width: 100% !important;
  /* font-family: Calibri; */
  border-radius: 5px;
}

.table th {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  /* background-color: var(--aliceblue_other); */
  color: var(--primary);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.table td {
  color: black;
  font-size: 14px;
  vertical-align: middle;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

table a {
  color: black;
  text-decoration: none;
}
.active > .page-link,
.page-link.active {
  color: var(--aliceblue);
  background-color: var(--primary);
  border-color: var(--primary);
}
