Options +FollowSymLinks
RewriteEngine on

RewriteBase /ERP3/

RewriteRule ^$ index.php [L]

# Logout
RewriteRule ^salir/?$ acceso/ctrl/ctrl-logout.php [L]

# Almacén
RewriteRule ^almacen/?$ operacion/almacen/index.php [L]

# Reportes de almacén
RewriteRule ^operacion/almacen/reportes/?$ operacion/almacen/reporte.php [L]

RewriteRule ^operacion/almacen/dashboard/?$ operacion/almacen/reporte.php [L]
